<?xml version="1.0" encoding="UTF-8"?>
<widget id="com.feedhenry.keyang.xiang.db.example" version="" width="320" height="480" start="index.html">
<title>DB Example</title>
<description>Second step in DB tutorial, using list method to display values to screen</description>
<author name="" email="keyang.xiang@feedhenry.com" url=""></author>
<license></license>
</widget>
